<footer class="footer">
  <small>
    <h3>Phatbucks Website</h3>
    by Alexander Lin
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>