<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
 The Phatbucks group website is where we will post all the study guide links. You can post comments, questions, or donations. We aim to help you study and achieve better test results.
</p>